.receipt_listing_table_row {
    line-height: 17px;
    font-size: 0.8rem;
}

.receipt_listing_table_data {
    padding: 2px 0px !important;
}

.cursor_pointer {
    cursor: pointer;
}

.table_listing_header {
    width: 10%;
}

.table_listing_btn_section {
    width: 19%;
}